html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-after {
  content: "";
  width: 110%;
  position: fixed;
  z-index: 100;
  top: 0;

  left: calc(-110% - 4em);


  border-bottom: 4em solid #0070f3;
  border-right: 4em solid transparent;
  transition: .4s;
}

.animation-navbar {
  content: "";
  width: 110%;
  position: fixed;
  z-index: 0;
  top: -1;

  /*left: calc(-100% - 4em);*/


  border-bottom: 4em solid #0070f3;
  border-right: 4em solid transparent;
  transition: .4s;
  left: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 412px) {
  .animation-navbar {
    width: 120%;
  }
}
