.header {

  width: 100%;
}

.item_icons {
  display: flex;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.navbar {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 100%;
  left: 0;
  overflow: hidden; 
}

.title_navbar {
  width: 20em;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.title_navbar > span {
  font-weight: bold;
  font-size: 1.5rem;
  transition: .2s;
}

.title_navbar > span:hover {
  color: #dedede;
  cursor: pointer;
}

.links_list {
  width: 100%;
  display: flex;
  justify-content: right;
}

.links_list > ul {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
  align-items: center;
}

.links_list > ul > li {
  list-style: none;
  z-index: 1;
}

.link {
  display: flex;
  justify-content: center;
  width: auto;
  border-bottom: solid 1px transparent;
  margin-inline-start: 1.5rem; 
  transition: .2s;
}

.link:hover {
  color: #dedee0;
  border-bottom: solid 1px #dedede;
}

.link > a {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.link > a > span {
  display: flex;
  align-items: center;
}

.dropbox {
  display: flex;
  justify-content: center;
}

.dropbox > button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 2rem;
  transition: .2s;
}

.dropbox > button:hover {
  background-color: #dedee0;
}

.dropbox > button:focus {
  background-color: #dedee0;
}

.dropbox_icon {
  color: #000;
  width: 1.2rem;
  height: 1.2rem;
}

@media screen and (max-width: 412px) {
  .navbar {
    height: 4rem;
  } 

  .title_navbar {
    width: 24rem;
    margin-left: 2rem;
  }

  .links_list > ul > li {
    display: flex;
    position: absolute;
    justify-content: left;
  } 

  .link {
    margin-top: 10px;
    display: flex;
    justify-content: left;
  }

  .link:hover {
    color: #dedede;
  }
}

@media (prefers-color-scheme: light) {
  .navbar {
    background-color: #fff;
  }
}


